body {
   background: #f6f9fc;
   font: normal 100% sans-serif;
   margin: 0px;
   }

.header {
   background-color: #333333;
   width: 100%;
   height: 80px;
   text-align: center;
   color: white;
   border-bottom: 5px #08c solid;
   min-width: 650 px;
   }

.header div {
   display: inline-block;
   }

.title {
   font-size: xx-large;
   }

#profilepic {
   height: 70px;
   border-radius: 50%;
   display:block;
   }


.content {
   margin: 25px;
   }

.content div {
   display: inline-block;
   margin: inherit;
   }
   
.left-content {
   width: 70%;
   height: 80%;
   border: 1px #08c solid;
   }

.right-content {
   width: 20%;
   height: 80%;
   border: 1px #08c solid;
   }


